*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: "liga" off;
}

*::selection {
  background-color: var(--color-accent);
  color: var(--color-bg);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--space20);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary), sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2em;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-head), sans-serif;
}

a {
  text-decoration: none;
}
