.btn-slider {
  --size: 36px;

  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  color: var(--color-bg);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: var(--color-text);
  transition: background-color var(--transition);

  &:not(:disabled) {
    @media (hover: hover) {
      cursor: pointer;
    }
  }

  /* tablet */
  @media (width >= 768px) {
    --size: 44px;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-hover);
    }
  }

  &:disabled {
    background-color: var(--color-disabled);
  }
}
