.footer {
  margin-top: 104px;
  background-color: #e9ded4;

  /* desktop */
  @media (width >= 991px) {
    margin-top: 140px;
  }

  & .footer__content {
    padding: 40px var(--padding) 60px;

    /* desktop */
    @media (width >= 991px) {
      padding: 37px var(--padding) 72px;
    }

    p {
      margin: 0;
      font-size: 0.8rem;
      line-height: 1.2em;
      opacity: 0.6;
    }
  }
}
