.footer {
  margin-top: 104px;
  background-color: #e9ded4;

  & .footer__content {
    padding: 40px var(--padding) 60px;

    p {
      margin: 0;
      font-size: 0.8rem;
      line-height: 1.2em;
      opacity: 0.6;
    }
  }
}
