.logo {
  display: inline-flex;
  gap: 5px;
  color: #595653;
  font-size: 14.42px;
  line-height: 1.08em;
  font-weight: 700;
  text-transform: uppercase;

  /* desktop */
  @media (width >= 991px) {
    font-size: 16.65px;
    gap: 6.35px;
  }

  svg {
    width: 79.5px;
    height: auto;

    /* desktop */
    @media (width >= 991px) {
      width: 91.82px;
    }
  }
}
