.logo {
  display: inline-flex;
  gap: 5px;
  color: #595653;
  font-size: 14.42px;
  line-height: 1.08em;
  font-weight: 700;
  text-transform: uppercase;

  svg {
    width: 79.5px;
    height: auto;
  }
}
