.title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.1em;
  font-weight: 400;
  text-transform: uppercase;
  display: grid;

  /* mobile */
  @media (width >= 375px) {
    font-size: 1.8rem;
  }

  /* tablet */
  @media (width >= 768px) {
    font-size: 2.7rem;
    line-height: 1.2em;
    letter-spacing: -1px;
  }

  span:last-child:has(a) {
    /* tablet */
    @media (width >= 768px) {
      position: relative;
      justify-self: flex-start;
      display: flex;
      align-items: center;
      gap: var(--space32);
    }

    a {
      margin-top: 14px;

      @media (width >= 768px) {
        margin-top: -2px;
        max-width: 280px;
        letter-spacing: 0;
      }
    }
  }
}
