.carousel {
  --slide-count: 6;
  --gap: 32px;
  --inner-padding: var(--padding);

  /* tablet */
  @media (width >= 768px) {
    position: relative;
  }

  & .carousel__wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 var(--padding);
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    /* tablet */
    @media (width >= 768px) {
      padding: 0;
    }
  }

  & .carousel__content {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--slide-count), 1fr);
    width: calc(
      (var(--slide-count) * 100vw) - ((var(--slide-count) - 1) * var(--gap))
    );

    /* tablet */
    @media (width >= 768px) {
      width: calc(var(--container) * 2);
      grid-template-columns: repeat(6, 1fr);
      padding: 0 calc((100vw - var(--container)) / 2);
      margin-inline: auto;
    }
  }

  & .carousel__pagination {
    margin-top: var(--space28);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space16);

    /* tablet */
    @media (width >= 768px) {
      margin: 0;
      position: absolute;
      top: -50px;
      right: 0;
    }
  }

  & .carousel__pagination-body {
    margin: 0;
    font-size: 0.8rem;

    span {
      opacity: 0.6;
    }
  }

  & .carousel__pagination-btn {
    padding: 0;
    border: none;
    background-color: #d9d9d9;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color var(--transition);

    &:hover {
      background-color: var(--color-hover);
    }

    &.active {
      background-color: var(--color-text);
    }
  }
}
