.carousel {
  --gap: 32px;
  --inner-padding: var(--padding);

  /* desktop */
  @media (width >= 991px) {
    --gap: 20px;

    position: relative;
  }

  & .carousel__wrapper {
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 var(--inner-padding);
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    /* desktop */
    @media (width >= 991px) {
      padding: 0;
      width: auto;
    }
  }

  & .carousel__content {
    display: grid;
    gap: var(--gap);
    grid-auto-flow: column;
    grid-auto-columns: calc(100vw - (2 * var(--inner-padding)));

    /* desktop */
    @media (width >= 991px) {
      grid-auto-columns: calc((var(--container) - (2 * var(--gap))) / 3);
      width: max-content;
      padding: 0 calc((100% - var(--container)) / 2);
      margin-inline: auto;
    }

    &::after {
      content: "";
      width: 2px;
      margin-left: calc(var(--inner-padding) - (var(--gap)) - 2px);

      /* desktop */
      @media (width >= 991px) {
        display: none;
      }
    }
  }
}
