.hero {
  --opacity: 0.25;

  position: relative;
  background-color: #e9ded4;

  /* tablet */
  @media (width >= 768px) {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  & .hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/hero/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: var(--opacity);
    pointer-events: none;
  }

  & .hero__wrapper {
    position: relative;
  }

  & .hero__content {
    /* tablet */
    @media (width >= 768px) {
      height: 100%;
    }

    .container {
      /* tablet */
      @media (width >= 768px) {
        height: 100%;
      }
    }
  }

  & .hero__info {
    position: relative;
    max-width: var(--mobile-content-width);
    margin-inline: var(--mobile-content-margin);
    padding-inline: var(--padding);
    z-index: 1;

    /* tablet */
    @media (width >= 768px) {
      max-width: 544px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 0 18.2vh 0;
    }
  }

  & .hero__title {
    margin: var(--space20) 0 0;
    display: grid;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;

    /* tablet */
    @media (width >= 768px) {
      margin-top: 0;
      font-size: 3rem;
    }

    span {
      &:nth-child(1) {
      }

      &:nth-child(2) {
        text-align: center;
      }

      &:nth-child(3) {
        text-align: right;
      }
    }
  }

  & .hero__description {
    margin: var(--space24) 0 0;
    font-size: 0.9rem;
    line-height: 1.3em;

    /* tablet */
    @media (width >= 768px) {
      text-align: center;
    }
  }

  & .hero__actions {
    margin-top: 31px;
    max-width: 360px;
    margin-inline: auto;
    display: grid;
    gap: 14px;

    /* tablet */
    @media (width >= 768px) {
      margin: var(--space40) 0 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--space16);
      max-width: none;
    }
  }

  & .hero__images {
    position: relative;
    margin-top: 49px;
    z-index: 0;

    /* tablet */
    @media (width >= 768px) {
      overflow: hidden;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    .city {
      /* tablet */
      @media (width >= 768px) {
        position: relative;
        transform: translate(10px);
        margin-bottom: -4px;
      }

      .city-image {
        width: 100%;
        z-index: 2;
        position: relative;
        max-width: 1627px;

        /* tablet */
        @media (width >= 768px) {
          width: auto;
        }
      }
    }

    .chess-1 {
      position: absolute;
      width: 59px;
      height: auto;
      top: -30px;
      right: 23vw;
      transform: rotate(7.41deg);
      z-index: 1;
      transition: transform var(--transition);

      /* wide-mobile */
      @media (width >= 560px) {
        transform-origin: top;
        transform: scale(1.5) rotate(7.41deg);
      }

      /* tablet */
      @media (width >= 768px) {
        transform: scale(1) rotate(0deg);
        width: 148px;
        top: -94px;
        right: 299px;
      }
    }

    .chess-2 {
      position: absolute;
      width: 62px;
      height: auto;
      top: 9px;
      left: 16vw;
      z-index: 1;
      transition: transform var(--transition);

      @media (width >= 420px) {
        transform-origin: top;
        transform: translateY(25%) scale(1.2);
      }

      /* wide-mobile */
      @media (width >= 560px) {
        transform: translateY(50%) scale(1.5);
      }

      /* tablet */
      @media (width >= 768px) {
        transform: translateY(0) scale(1);
        width: 128px;
        left: auto;
        right: 649px;
        top: 12px;
      }
    }

    .chess-3 {
      position: absolute;
      width: 95px;
      height: auto;
      bottom: -14px;
      left: 39vw;
      z-index: 3;
      transition: transform var(--transition);

      /* wide-mobile */
      @media (width >= 560px) {
        transform-origin: bottom;
        transform: scale(1.5);
      }

      /* tablet */
      @media (width >= 768px) {
        width: 192px;
        left: auto;
        right: 477px;
        bottom: -43px;
      }
    }

    .chess-4 {
      display: none;
      z-index: 3;

      /* tablet */
      @media (width >= 768px) {
        width: 83px;
        height: auto;
        display: block;
        position: absolute;
        bottom: 23px;
        right: 186px;
      }
    }

    .sun {
      width: 297px;
      height: auto;
      position: absolute;
      z-index: 0;
      top: 26px;
      left: 48%;
      transform: translate(-50%, -50%);
      animation: sun 20s infinite linear;

      /* tablet */
      @media (width >= 768px) {
        width: 660px;
        left: auto;
        right: 173px;
        top: auto;
        bottom: 87px;
        transform: translate(0);
        animation: sun-desktop 30s infinite linear;
      }
    }
  }
}

@keyframes sun {
  from {
    transform: translate(-50%, -50%) rotate(0);

    /* tablet */
    @media (width >= 768px) {
      transform: rotate(0);
    }
  }

  to {
    transform: translate(-50%, -50%) rotate(-360deg);

    /* tablet */
    @media (width >= 768px) {
      transform: rotate(-360deg);
    }
  }
}

@keyframes sun-desktop {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-360deg);
  }
}
