.hero {
  --opacity: 0.25;

  position: relative;
  background-color: #e9ded4;

  /* tablet */
  @media (width >= 768px) {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  & .hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/hero/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: var(--opacity);
    pointer-events: none;
  }

  & .hero__wrapper {
    position: relative;
  }

  & .hero__content {
    /* tablet */
    @media (width >= 768px) {
      height: 100%;
    }

    .container {
      /* tablet */
      @media (width >= 768px) {
        height: 100%;
      }
    }
  }

  & .hero__info {
    padding-inline: var(--padding);
    z-index: 1;
    position: relative;

    /* tablet */
    @media (width >= 768px) {
      max-width: 542px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 0 20vh 0;
    }
  }

  & .hero__title {
    margin: 0;
    display: grid;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.1em;
    text-transform: uppercase;

    /* tablet */
    @media (width >= 768px) {
      font-size: 3rem;
    }

    span {
      &:nth-child(1) {
      }

      &:nth-child(2) {
        text-align: center;
      }

      &:nth-child(3) {
        text-align: right;
      }
    }
  }

  & .hero__description {
    margin: var(--space24) 0 0;
    font-size: 0.9rem;
    line-height: 1.3em;

    /* tablet */
    @media (width >= 768px) {
      text-align: center;
    }
  }

  & .hero__actions {
    margin-top: var(--space32);
    max-width: 360px;
    margin-inline: auto;
    display: grid;
    gap: 14px;

    /* tablet */
    @media (width >= 768px) {
      margin: var(--space40) 0 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--space16);
      max-width: none;
    }
  }

  & .hero__images {
    position: relative;
    margin-top: 60px;
    z-index: 0;

    /* tablet */
    @media (width >= 768px) {
      overflow: hidden;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    .city {
      /* tablet */
      @media (width >= 768px) {
        position: relative;
      }

      .city-image {
        width: 100%;
        z-index: 2;
        position: relative;
        max-width: 1627px;

        /* tablet */
        @media (width >= 768px) {
          width: auto;
        }
      }
    }

    .chess-1 {
      position: absolute;
      width: 47px;
      height: auto;
      top: -15px;
      right: 20vw;
      z-index: 1;

      /* tablet */
      @media (width >= 768px) {
        width: 113px;
        top: -80px;
        right: 300px;
      }
    }

    .chess-2 {
      position: absolute;
      width: 47px;
      height: auto;
      top: 35px;
      left: 20vw;
      z-index: 1;

      /* tablet */
      @media (width >= 768px) {
        width: 104px;
        left: auto;
        right: 700px;
      }
    }

    .chess-3 {
      position: absolute;
      width: 77px;
      height: auto;
      bottom: 0;
      left: 50vw;
      z-index: 3;

      /* tablet */
      @media (width >= 768px) {
        width: 154px;
        left: auto;
        right: 500px;
      }
    }

    .chess-4 {
      display: none;
      z-index: 3;

      /* tablet */
      @media (width >= 768px) {
        width: 83px;
        height: auto;
        display: block;
        position: absolute;
        bottom: 30px;
        right: 200px;
      }
    }

    .sun {
      width: 297px;
      height: auto;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: sun 20s infinite linear;

      /* tablet */
      @media (width >= 768px) {
        width: 660px;
        left: auto;
        right: 150px;
        top: auto;
        bottom: 200px;
        transform: translate(0);
        animation: sun-desktop 30s infinite linear;
      }
    }
  }
}

@keyframes sun {
  from {
    transform: translate(-50%, -50%) rotate(0);

    /* tablet */
    @media (width >= 768px) {
      transform: rotate(0);
    }
  }

  to {
    transform: translate(-50%, -50%) rotate(-360deg);

    /* tablet */
    @media (width >= 768px) {
      transform: rotate(-360deg);
    }
  }
}

@keyframes sun-desktop {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-360deg);
  }
}
