.intro-head {
  padding: 0 var(--padding);



  img {
    margin: var(--space24) 0;
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 394 / 250;
    object-fit: cover;
    border-radius: 50%;
  }
}
