.intro-info {
  /* desktop */
  @media (width >= 991px) {
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-template-rows: auto 1fr;
    align-items: flex-start;
    gap: var(--space32) var(--space20);
  }

  /* widescreen */
  @media (width >= 1200px) {
    grid-template-columns: 474px 1fr;
    gap: 60px var(--space44);
  }

  & .intro-info__picture {
    /* desktop */
    @media (width >= 991px) {
      grid-row: 1 / -1;
    }

    img {
      width: 100%;
      height: auto;

      /* widescreen */
      @media (width >= 1200px) {
        transform: translate(-1px, 1px) scale(1.12);
      }
    }
  }

  & .intro-info__head {
    padding: 0 var(--padding);
    margin-top: 21px;

    /* desktop */
    @media (width >= 991px) {
      margin: 0;
    }
  }

  & .intro-info__table {
    padding: 0 var(--padding);
    margin-top: 29px;

    /* desktop */
    @media (width >= 991px) {
      margin-top: 0;
    }

    dl {
      margin: 0;

      div {
        padding: 15px 0;
        display: flex;
        flex-wrap: wrap;
        gap: var(--space12);

        &:not(:last-child) {
          border-bottom: 2px solid var(--color-border);
        }

        &:first-child {
          /* desktop */
          @media (width >= 991px) {
            dt,
            dd {
              padding-top: 0;
            }
          }
        }

        &:last-child {
          /* desktop */
          @media (width >= 991px) {
            dt,
            dd {
              padding-bottom: 0;
            }
          }
        }

        /* desktop */
        @media (width >= 991px) {
          display: grid;
          grid-template-columns: 3.21fr 4.2fr;
          padding: 0;
          gap: 0;
        }

        dt {
          /* desktop */
          @media (width >= 991px) {
            padding: 15px 15px 15px 0;
          }
        }

        dd {
          margin: 0;
          font-weight: 600;

          /* desktop */
          @media (width >= 991px) {
            border-left: 2px solid var(--color-border);
            padding: 15px 0 15px 15px;
          }

          span {
            text-decoration: line-through;
            text-decoration-color: var(--color-accent);
            text-decoration-thickness: 2px;
          }
        }
      }
    }
  }

  & .intro-info__link {
    margin-top: 26px;

    /* desktop */
    @media (width >= 991px) {
      margin-top: var(--space48);
    }
  }
}
