.participants {
  margin-top: 120px;

  /* desktop */
  @media (width >= 991px) {
    margin-top: 200px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
  }

  & .participants__head {
    padding: 0 var(--padding);
    max-width: var(--mobile-content-width);
    margin-inline: var(--mobile-content-margin);

    /* desktop */
    @media (width >= 991px) {
      padding-left: var(--padding);
    }

    /* fullhd */
    @media (width >= 1262px) {
      padding-left: calc((100vw - var(--container)) / 2);
    }

    .title {
      letter-spacing: 0;
    }
  }

  & .participants__body {
    margin-top: var(--space40);

    /* desktop */
    @media (width >= 991px) {
      margin-top: 60px;
      grid-column: 1 / -1;
      grid-row: -1 / -2;
      min-width: 0;
    }
  }

  & .participants__pagination {
    margin-top: var(--space40);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space12);

    /* desktop */
    @media (width >= 991px) {
      margin: 0;
      justify-content: flex-end;
      padding-right: var(--padding);
      gap: 14px;
    }

    /* fullhd */
    @media (width >= 1262px) {
      padding-right: calc((100vw - var(--container)) / 2);
    }
  }

  & .participants__pagination-body {
    margin: 0;
    font-weight: 400;
    font-size: 0.8rem;

    span {
      opacity: 0.6;
    }
  }
}
