.running-line {
  position: relative;
  background-color: var(--color-accent);
  color: var(--color-bg);
  font-size: 0.8rem;
  line-height: 1.1em;
  padding: 10px 0;
  font-family: var(--font-head), sans-serif;
  opacity: 1;
  text-transform: uppercase;
  margin-top: -4px;
  margin-bottom: -4px;

  /* tablet */
  @media (width >= 768px) {
    font-size: 1.1rem;
    padding: 18px 0;
  }
}
