.slider {
  --gap: 20px;
  --inner-padding: var(--padding);

  & .slider__wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 var(--inner-padding);
    scroll-padding-inline: var(--inner-padding);
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    /* desktop */
    @media (width >= 991px) {
      overflow: visible;
      padding: 0;
    }
  }

  & .slider__content {
    counter-reset: stage-counter;
    display: grid;
    gap: var(--gap);
    grid-auto-flow: column;
    grid-auto-columns: calc(100vw - (2 * var(--inner-padding)));

    /* desktop */
    @media (width >= 991px) {
      grid-auto-flow: row;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
    }

    &::after {
      content: "";
      width: 2px;
      margin-left: calc(var(--inner-padding) - (var(--gap)) - 2px);

      /* desktop */
      @media (width >= 991px) {
        display: none;
      }
    }
  }

  & .slide__common {
    position: relative;
    background-image: url("../../assets/images/hero/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 61px 19px 34px;
    display: grid;
    gap: 26px;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    /* desktop */
    @media (width >= 991px) {
      padding: var(--space20) 21px var(--space20) var(--space20);
      gap: var(--space20);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      background-image: url("../../assets/images/stages/slide-bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .slider__slide {
      padding: 0;
    }
  }

  & .slider__slide {
    display: flex;
    gap: 17px;

    /* desktop */
    @media (width >= 991px) {
      gap: var(--space16);
    }

    &:nth-child(3) {
      /* desktop */
      @media (width >= 991px) {
        grid-row: 1 / 3;
        grid-column: -1 / -2;
      }
    }

    &:nth-child(7) {
      /* desktop */
      @media (width >= 991px) {
        grid-column: -1 / -3;
        padding-right: 40%;
      }
    }

    &::before {
      --size: var(--space36);

      counter-increment: stage-counter;
      content: counter(stage-counter);
      flex: 0 0 var(--size);
      width: var(--size);
      height: var(--size);
      line-height: var(--size);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      border-radius: 50%;
      background-color: var(--color-bg);
      z-index: 1;
    }

    p {
      position: relative;
      margin: 0;
      font-size: 0.9rem;
      line-height: 1.25em;
      font-weight: 500;
      z-index: 1;

      /* desktop */
      @media (width >= 991px) {
        font-size: 1rem;
        line-height: 1.2em;
      }
    }
  }

  & .slider__pagination {
    margin-top: var(--space28);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space16);

    /* desktop */
    @media (width >= 991px) {
      display: none;
    }
  }

  & .slider__pagination-body {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  & .slider__pagination-btn {
    padding: 0;
    border: none;
    background-color: #d9d9d9;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color var(--transition);

    &:hover {
      background-color: var(--color-hover);
    }

    &.active {
      background-color: var(--color-text);
    }
  }
}
