.stages {
  margin-top: 120px;

  /* tablet */
  @media (width >= 768px) {
    margin-top: 200px;
  }

  & .stages__head {
    padding: 0 var(--padding);
    max-width: var(--mobile-content-width);
    margin-inline: var(--mobile-content-margin);
  }

  & .stages__body {
    position: relative;
    padding-top: 144px;

    /* tablet */
    @media (width >= 768px) {
      padding-top: 0;
      margin-top: 55px;
    }
  }

  & .stages__picture {
    position: absolute;
    top: 12px;
    left: 0;
    z-index: 1;
    pointer-events: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 10px;

    /* tablet */
    @media (width >= 768px) {
      top: auto;
      left: auto;
      bottom: -1px;
      right: -72px;
    }

    img {
      max-width: 100%;
      width: 335px;
      height: auto;
      transform: rotate(-3.42deg);

      /* tablet */
      @media (width >= 768px) {
        transform: rotate(0deg);
        width: 400px;
      }
    }
  }
}
